'use strict';

import _fetch from '../util/fetch';
import respHelper from '../util/response-helper';

<auth>
    <div style="text-align:center">
        <form name="login-form">
            <input type="text"
                   class="form-control"
                   name="login"
                   placeholder="User name or email"
                   oninput="{ onInput }"/>
            <input type="password" 
                   class="form-control"
                   name="password"
                   placeholder="Password"
                   oninput="{ onInput }"/>
            <input if="{ signupAction }"
                   type="password" 
                   class="form-control"
                   name="password2"
                   placeholder="Re-type password"
                   oninput="{ onInput }"/>
            <button type="submit"
                    class="btn btn-default"
                    name="signin"
                    disabled
                    onclick="{ onLogin }">Login</button>
            <button type="submit"
                    class="btn btn-default"
                    name="signup"
                    disabled
                    onclick="{ onSignUp }">Sign Up</button>
        </form>
        <div if="{ !signupAction }">
            <br/>
            <a href="javascript:void(0)" onclick="{ onResetPassword }">Forgot password?</a>
        </div>
    </div>
    <script>
        let self = this;
        self.init = () => {
            self.signupAction = false;
            self.login.value = '';
            self.password.value = '';
        }
        self.onInput = () => {
            self.signup.disabled =
                self.signin.disabled = !self.login.value || !self.password.value;
            return true;
        }
        self.onLogin = () => {
            self.signupAction = false;
            opts.onlogin(self['login-form']);
        }
        self.onSignUp = () => {
            if (self.signupAction) {
                if (self.password.value !== self.password2.value) {
                    opts.onerror('Password values do not match.');
                    return;
                }
                opts.onsignup(self['login-form']);
                return;
            }
            self.signupAction = true;
            self.password2.value = '';
            self.update();
        }
        self.onResetPassword = () => {
            self.signupAction = false;
            let body = new FormData(self['login-form']);
            body.delete('password');
            body.delete('password2');
            _fetch.fetch('/password-reset', {
                method: 'POST',
                body: body
            })
            .then(r => {
                return respHelper.handleStatus(r);
            })
            .then(data => {
                opts.onerror('The link to reset password has been sent to your email.');
            })
            .catch(e => {
                let error = 'Could not reset password. ';
                if (e.msg) {
                    error += e.msg;
                }
                opts.onerror(error);
            });
        }
    </script>
</auth>
