'use strict';

import dispatcher from '../dispatcher'
import _fetch from '../util/fetch';
import respHelper from '../util/response-helper';

<dlg-login>
    <div if="{ visible }"
         class="modal"
         tabindex="-1"
         role="dialog"
         onclick="{ close }">
        <div class="modal-dialog">
            <div name="modalContent"
                 class="modal-content"
                 onclick="{ onModalContentClick }">
                <div name="modalHeader"
                     class="modal-header">
                    <button type="button"
                            class="close"
                            onclick="{ close }"><span>&times;</span></button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div name="modalBody"
                     class="modal-body container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <error-msg error="{ error }"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <auth onlogin="{ onLogin }"
                                  onsignup="{ onSignUp }"
                                  onerror="{ onError }"/>
                            <div class="checkbox"
                                 style="text-align:center">
                                <label><input type="checkbox" name="staysigned"/>
                                    Stay signed in</label>
                            </div>
                        </div>
                        <div class="col-lg-6 ellipsed-container"
                             stype="height: 300px; overflow: auto;">
                            <login-provider each="{ p in loginProviders }"
                                            icon="{ p.iconUrl }"
                                            href="{ p.authCodeUrl }">
                                { p.name }
                            </login-provider>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let self = this;
        self.visible = false;
        self.show = () => {
            self.error = '';
            self.tags.auth.init();
            self.visible = true;
            self.update();
        }
        self.close = () => {
            self.visible = false;
            self.update();
            opts.onclose && opts.onclose();
        }
        self.onModalContentClick = (e) => {
            e.stopPropagation();
            return true;
        }
        dispatcher.on(dispatcher.SHOW_LOGIN_DIALOG, (providers) => {
            self.loginProviders = providers;
            self.show();
            self.update();
        });
        let loginOrSignup = (action, loginForm, errMsgPrefix) => {
            self.error = '';
            let body =new FormData(loginForm);
            body.append('action', action);
            _fetch.fetch('/api/login-priv', {
                method: 'POST',
                body: body
            })
            .then(r => {
                return respHelper.handleStatus(r);
            })
            .then(data => {
                const {redirUrl} = data;
                window.location.href = redirUrl;
            })
            .catch(e => {
                self.error = errMsgPrefix;
                if (e.msg) {
                    self.error += e.msg;
                }
                self.update();
            });
        }
        self.onLogin = (loginForm) => {
            loginOrSignup('login', loginForm, 'Could not authenticate. ');
        }
        self.onSignUp = (loginForm) => {
            loginOrSignup('signup', loginForm, 'Could not create user. ');
        }
        self.onError = (error) => {
            self.update({error:error});
        }
    </script>
</dlg-login>
