'use strict';

import urlParams from '../util/url-params';
import _fetch from '../util/fetch';
import respHelper from '../util/response-helper';

<password-confirm>
    <div class="center-block col-sm-4">
        <h3>Change Password</h3>
        <form if="{ visiblePasswordForm }"
              name="password-change-form">
            <error-msg error="{ error }"/>
            <p>Enter new password</p>
            <input type="password"
                   class="form-control"
                   name="password1"
                   placeholder="new password"/>
            <input type="password"
                   class="form-control"
                   name="password2"
                   placeholder="re-type new password"/>
            <button type="submit"
                    class="btn btn-default"
                    name="change"
                    onclick="{ onPasswordChange }">Submit</button>
            <button type="submit"
                    class="btn btn-default"
                    onclick="{ onCancel }">Cancel</button>
        </form>
        <div if="{ !visiblePasswordForm }">
            <p>Your password has been changed</p>
            <button type="submit"
                    class="btn btn-default"
                    onclick="{ onCancel }">Back Home</button>
        </div>
    </div>  
    <script>
        let self = this;
        self.visiblePasswordForm = true;
        let token = urlParams.get('token');
        self.onPasswordChange = () => {
            self.error = '';
            if (self.password1.value !== self.password2.value) {
                self.error = 'Password values do not match.';
                self.update();
                return;
            }
            let body = new FormData(self['password-change-form']);
            if (token) {
                body.append('token', token);
            }
            _fetch.fetch('/password-change', {
                method: 'POST',
                body: body
            })
            .then(r => {
                return respHelper.handleStatus(r);
            })
            .then(data => {
                const {error} = data;
                if (error) {
                    self.error = error;
                } else {
                    self.visiblePasswordForm = false;
                }
                self.update();
            })
            .catch(e => {
                self.error = 'Could not change password. ';
                if (e.msg) {
                    self.error += e.msg;
                }
                self.update();
            });
        }
        self.onCancel = () => {
            window.location.href = "/";
        }
    </script>
</password-confirm>
