'use strict';

import _fetch from '../util/fetch';
import respHelper from '../util/response-helper';

<password-reset>
    <div class="center-block col-sm-4">
        <h3>Reset Password</h3>
        <form if="{ visibleResetForm }"
              name="password-reset-form">
            <error-msg error="{ error }"/>
            <p>Enter email address where link to reset password will be sent</p>
            <input type="text"
                   class="form-control"
                   name="email"
                   placeholder="yourmail@domain.com"
                   oninput="{ onInput }"/>
            <button type="submit"
                    class="btn btn-default"
                    name="reset"
                    disabled
                    onclick="{ onReset }">Submit</button>
            <button type="submit"
                    class="btn btn-default"
                    onclick="{ onCancel }">Cancel</button>
        </form>
        <div if="{ !visibleResetForm }">
            <p>The link to reset password has been send to your email</p>
            <button type="submit"
                    class="btn btn-default"
                    onclick="{ onCancel }">Back Home</button>
        </div>
    </div>  
    <script>
        let self = this;
        self.visibleResetForm = true;
        self.onInput = () => {
            self.reset.disabled = !self.email.value; 
        }
        self.onReset = () => {
            self.error = '';
            let body = new FormData(self['password-reset-form']);
            _fetch.fetch('/password-reset', {
                method: 'POST',
                body: body
            })
            .then(r => {
                return respHelper.handleStatus(r);
            })
            .then(data => {
                const {error} = data;
                if (error) {
                    self.error = error;
                } else {
                    self.visibleResetForm = false;
                }
                self.update();
            })
            .catch(e => {
                self.error = 'Could not reset password. ';
                if (e.msg) {
                    self.error += e.msg;
                }
                self.update();
            });
        }
        self.onCancel = () => {
            window.location.href = "/";
        }
    </script>
</password-reset>
