<auth>
    <div style="text-align:center">
        <form name="login-form">
            <input type="text"
                   class="form-control"
                   name="login"
                   placeholder="User name or email"
                   oninput="{ onInput }"/>
            <input type="password" 
                   class="form-control"
                   name="password"
                   placeholder="Password"
                   oninput="{ onInput }"/>
            <button type="submit"
                    class="btn btn-default"
                    name="signin"
                    disabled
                    onclick="{ onLogin }">Login</button>
            <button type="submit"
                    class="btn btn-default"
                    name="signup"
                    disabled
                    onclick="{ onSignUp }">Sign Up</button>
        </form>
        <br/>
        <a href="/password-reset">Forget password?</a>
    </div>
    <script>
        let self = this;
        self.onInput = () => {
            self.signup.disabled =
                self.signin.disabled = !self.login.value || !self.password.value;
            return true;
        }
        self.onLogin = () => {
            opts.onlogin(self['login-form']);
        }
        self.onSignUp = () => {
            opts.onsignup(self['login-form']);
        }
    </script>
</auth>
