import dispatcher from '../dispatcher'
import 'whatwg-fetch';
import respHelper from '../util/response-helper';

<dlg-login>
    <div if="{ visible }"
         class="modal"
         tabindex="-1"
         role="dialog"
         onclick="{ close }">
        <div class="modal-dialog">
            <div name="modalContent"
                 class="modal-content"
                 onclick="{ onModalContentClick }">
                <div name="modalHeader"
                     class="modal-header">
                    <button type="button"
                            class="close"
                            onclick="{ close }"><span>&times;</span></button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div name="modalBody"
                     class="modal-body">
                    <error-msg error="{ error }"/>
                    <auth onlogin="{ onLogin }"
                          onsignup="{ onSignUp }"/>
                    <hr/>
                    <div>
                        <login-provider each="{ p in loginProviders }"
                                        icon="{ p.iconUrl }"
                                        href="{ p.authCodeUrl }">
                            { p.name }
                        </login-provider>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let self = this;
        self.visible = false;
        self.show = () => {
            self.visible = true;
            self.update();
        }
        self.close = () => {
            self.visible = false;
            self.update();
            opts.onclose && opts.onclose();
        }
        self.onModalContentClick = (e) => {
            e.stopPropagation();
            return true;
        }
        dispatcher.on(dispatcher.SHOW_LOGIN_DIALOG, (providers) => {
            self.loginProviders = providers;
            self.show();
            self.update();
        });
        let loginOrSignup = (action, loginForm, errMsgPrefix) => {
            self.error = '';
            let body =new FormData(loginForm);
            body.append('action', action);
            fetch('/api/login-priv', {
                method: 'POST',
                body: body
            })
            .then(r => {
                return respHelper.handleStatus(r);
            })
            .then(data => {
                console.log(data);
                const {redirUrl, error} = data;
                if (error) {
                    self.error = errMsgPrefix + error;
                    self.update();
                } else {
                    window.location.href = redirUrl;
                }
            })
            .catch(e => {
                console.log(e);
                self.error = errMsgPrefix;
                self.update();
            });
        }
        self.onLogin = (loginForm) => {
            loginOrSignup('login', loginForm, 'Could not authenticate. ');
        }
        self.onSignUp = (loginForm) => {
            loginOrSignup('signup', loginForm, 'Could not create user. ');
        }
    </script>
</dlg-login>
