'use strict';

import urlParams from '../util/url-params';
import _fetch from '../util/fetch';
import respHelper from '../util/response-helper';
import jwt from 'jwt-decode';

<login>
    <div class="modal"
         tabindex="-1"
         role="dialog"
         onclick="{ close }">
        <div class="modal-dialog">
            <div name="modalContent"
                class="modal-content"
                onclick="{ onModalContentClick }">
                <div name="modalHeader"
                    class="modal-header">
                    <button type="button"
                            class="close"
                            onclick="{ close }"><span>&times;</span></button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div name="modalBody"
                     class="modal-body">
                    <error-msg error="{ error }"/>
                    <auth if="{ showAuth }"
                          onlogin="{ onLogin }"
                          onsignup="{ onSignUp }"/>
                    <consent if="{ !showAuth }"
                             onconsent="{ onConsent }"
                             onabort="{ onAbortConsent }"
                             challenge="{ decodedChallenge }"/>
                </div>
            </div>
        </div>
    </div>
    <script>
        let self = this;
        self.showAuth = true;
        self.error = urlParams.get('error_description');
        let challenge = urlParams.get('challenge');
        if (!self.error && !challenge) {
            self.error = 'Could not authenticate.';
        }
        self.close = () => {
        }
        self.onModalContentClick = (e) => {
            e.stopPropagation();
            return true;
        }
        let loginOrSignup = (action, loginForm, errMsgPrefix) => {
            self.showAuth = false;
            self.error = '';
            console.log(self.error);
            self.loginForm = new FormData(loginForm);
            if (challenge) {
                self.loginForm.append('challenge', challenge);
            }
            self.loginForm.append('action', action);
            self.decodedChallenge = jwt(challenge);
            self.errMsgPrefix = errMsgPrefix;
            console.log(self.error);
            self.update();
        }
        self.onLogin = (loginForm) => {
            loginOrSignup('login', loginForm, 'Could not authenticate. ');
            console.log(self.error);
        }
        self.onSignUp = (loginForm) => {
            loginOrSignup('signup', loginForm, 'Could not create user. ');
            console.log(self.error);
        }
        self.onConsent = (scopes) => {
            scopes.forEach(scope => self.loginForm.append('scopes', scope));
            _fetch.fetch('/api/login', {
                method: 'POST',
                body: self.loginForm
            })
            .then(r => {
                return respHelper.handleStatus(r);
            })
            .then(data => {
                const {consent, error} = data;
                if (error) {
                    self.error = self.errMsgPrefix + error;
                    self.showAuth = true;
                    self.update();
                } else {
                    window.location.href = urlParams.updateUrlParameter(
                        self.decodedChallenge.redir,
                        'consent',
                        consent);
                }
            })
            .catch(e => {
                console.log(e);
                self.error = self.errMsgPrefix;
                self.showAuth = true;
                self.update();
            });
        }
        self.onAbortConsent = () => {
            window.location.href = urlParams.updateUrlParameter(
                self.decodedChallenge.redir,
                'consent',
                '');
        }
    </script>
</login>
