import urlParams from '../util/url-params.js';
import 'whatwg-fetch';
import respHelper from '../util/response-helper';

<login>
    <div class="modal"
         tabindex="-1"
         role="dialog"
         onclick="{ close }">
        <div class="modal-dialog">
            <div name="modalContent"
                class="modal-content"
                style="{ contentStyle() }"
                onclick="{ onModalContentClick }">
                <div name="modalHeader"
                    class="modal-header">
                    <button type="button"
                            class="close"
                            onclick="{ close }"><span>&times;</span></button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div name="modalBody"
                    class="modal-body"
                    style="{ modalBodyStyle() }">
                    <error-msg error="{ error }"/>
                    <auth if="{ !authenticated }"
                          onlogin="{ onLogin }"
                          onsignup="{ onSignUp }"/>
                    <consent if="{ authenticated }"
                             onconsent="{ onConsent }"
                             onabort="{ onAbortConsent }"
                             challenge="{ decodedChallenge }"/>
                </div>
            </div>
        </div>
    </div>
    <script>
        let self = this;
        self.error = urlParams.get('error_description');
        let challenge = urlParams.get('challenge');
        if (!self.error && !challenge) {
            self.error = 'Could not authenticate.';
        }
        self.close = () => {
        }
        self.onModalContentClick = (e) => {
            e.stopPropagation();
            return true;
        }
        self.onLogin = (loginForm, login) => {
            let form = new FormData(loginForm);
            if (challenge) {
                form.append('challenge', challenge);
            }
            fetch('/api/login', {
                method: 'POST',
                body: form
            })
            .then(r => {
                return respHelper.handleStatus(r);
            })
            .then(data => {
                const {challenge, authenticated, error} = data;
                self.error = '';
                if (!authenticated) {
                    self.error = 'Could not authenticate. ';
                }
                if (error) {
                    self.error += error;
                }
                self.login = login;
                self.authenticated = authenticated;
                self.decodedChallenge = challenge;
                self.update();
            })
            .catch(e => {
                console.log(e);
            });
        }
        self.onConsent = () => {
            self.error = '';
            fetch('/api/consent', {
                method: 'POST',
                body: JSON.stringify({
                    challenge: challenge,
                    // in general case we can unmark some scopes with
                    // checkboxes in UI, current UI doesn't allow this
                    scopes: self.decodedChallenge.scp,
                    login: self.login
                })
            })
            .then(r => {
                return respHelper.handleStatus(r);
            })
            .then(({consent}) => {
                window.location.href = urlParams.updateUrlParameter(
                    self.decodedChallenge.redir,
                    'consent',
                    consent);
            })
            .catch(e => {
                console.log(e);
            });
        }
        self.onAbortConsent = () => {
            window.location.href = urlParams.updateUrlParameter(
                self.decodedChallenge.redir,
                'consent',
                '');
        }
        self.onSignUp = (loginForm) => {
        }
    </script>
</login>
